body {
    font-family: Arial, sans-serif;
    background-color: #f1ebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.caixa-do-formulario {
    border: 2px solid black;
    border-radius: 25px;
    padding: 35px;
    width: 320px;
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: bold;
}

label { 
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.botao-entrar {
    background-color: #9cd4f8;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    display: block;
}

a {
    display: inline-block;
    margin-top: 15px;
    color: #840b64; 
    text-decoration: underline;
}

.deslogar {
    background-color: #ffcccc;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}