body {
    background-color: rgb(156, 156, 233);
    color: black;
}

h1 {
    color: rgb(33, 2, 46);
    text-align: center;
    font-family: didot;
    font-size: 45px;
}

p {
    font-family: pristina;
    font-style: italic;
    text-align: left;
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: column; 
    gap: 30px;
}

.item {
    display: flex; 
    align-items: flex-start;
    gap: 20px;
}

.item img {
    width: 15vw;  
    max-width: 160px; 
    height: auto;
    border-radius: 8px;
}